

<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:LinkYawave="http://typo3.org/ns/Yawave/Yawave/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="container">
    <div class="news-wraper">
        <div class="header">
            <h2 class="publication-title">{newsItem.title}</h2>
        </div>
        <div class="date-navigation col-lg-12 mt-3">
            <div class="row">
                <time class="posts-date">
                    <img class="icon mr-1" src="/typo3conf/ext/yawave/Resources/Public/Icons/post-type-pdf.svg">
                </time>
                <span class="news-list-date">
                        <time itemprop="datePublished" datetime="{f:format.date(date:newsItem.starttime, format:'Y-m-d')}">
                            <f:format.date format="%d. %B %Y -">{newsItem.starttime}</f:format.date>
                        </time>
                        <time itemprop="datePublished" datetime="{f:format.date(date:newsItem.starttime, format:'H:i')}">
                            <f:format.date format="H:i">{newsItem.starttime}</f:format.date>
                        </time>
                    </span>

                <f:if condition="{newsItem.tags}">
                    <span class="news-list-tags" itemprop="keywords">
                        <f:for each="{newsItem.tags}" as="tag">
                            {tag.title}
                        </f:for>
                    </span>
                </f:if>

                <f:if condition="{newsItem.author}">
                    <span class="news-list-author" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
                        <f:translate key="author_simple" /> <span itemprop="name">{newsItem.author}</span>
                    </span>
                </f:if>
                <f:if condition="{newsItem.bodytext}">
                    <f:then>
                        <p>{newsItem.bodytext}</p>
                    </f:then>
                    <f:else>
                        <p>{newsItem.teaser}</p>
                    </f:else>
                </f:if>
                <f:if condition="{newsItem.url}">
                    <div class="col-12">
                        <div class="pdf-viewer row">
                            <embed src="{newsItem.url}" type="application/pdf" style="overflow: auto; width: 100%; height: 100%;"/>
                        </div>
                    </div>
                </f:if>
            </div>
        </div>
    </div>
</div>
</html>
